body{background-image:url(images/background.webp);
background-color:lightblue;
background-repeat:no-repeat;
background-size:cover;}
.menu{display:flex; padding:50px;
height:50px;}
.logo{width:px;}
.navbar{background-color:skyblue;
width:100%;
height:80px;
display:inline;
font-family:"fantasy";
font-size:30px;
text-align:center;
border:5px solid black;
padding-top:5px; 
margin-right:px;
margin-left:10px;}
ul{display:flex;}
li{color:black;
display:inline;
padding:20px; }
.btn
button{background-color:blue;
font-family:"fantasy";
font-size:30px;
padding:10px;
margin:0px 0px 0px 10px;
.border:9px double black;
border-width:5px;
border-radius:10px;}
.box1{padding-right:100px;margin-top:50px;
color:black;}
.box{display:flex;}
.box2{margin:100px;}
h2{color:black;}